{{myForm.value | json}}

<form [formGroup]="myForm">
<mat-list>
  <mat-list-item>
    <h3>Sunday: </h3>
    <span formArrayName="sundayRanges">
      <span *ngFor="let range of sundayRanges.controls; let i=index" [formGroupName]="i">
          <span class="form-feild">
            <input [ngxTimepicker]="startTime" min="05:00 am" max="10:30 pm" [value]="'05:00 am'" formControlName="startTime" readonly>
            <ngx-material-timepicker #startTime></ngx-material-timepicker>
          </span>
          <span class="form-feild">
            <input [ngxTimepicker]="endTime" min="05:00 am" max="10:30 pm" [value]="'05:00 am'" formControlName="endTime" readonly>
            <ngx-material-timepicker #endTime></ngx-material-timepicker>
          </span>
        <button mat-icon-button color="warn" (click)="deleteTimeRange('sunday', i)"><mat-icon>clear</mat-icon></button>
      </span>
    </span>
    <button mat-raised-button color="primary" (click)="addTimeRange('sunday')">Add Time Range</button>
  </mat-list-item>

  <mat-list-item>
    <h3>Monday: </h3>
    <span formArrayName="mondayRanges">
      <span *ngFor="let range of mondayRanges.controls; let i=index" [formGroupName]="i">
          <span class="form-feild">
            <input [ngxTimepicker]="startTime" min="05:00 am" max="10:30 pm" [value]="'05:00 am'" formControlName="startTime" readonly>
            <ngx-material-timepicker #startTime></ngx-material-timepicker>
          </span>
          <span class="form-feild">
            <input [ngxTimepicker]="endTime" min="05:00 am" max="10:30 pm" [value]="'05:00 am'" formControlName="endTime" readonly>
            <ngx-material-timepicker #endTime></ngx-material-timepicker>
          </span>
          <button mat-icon-button color="warn" (click)="deleteTimeRange('monday', i)"><mat-icon>clear</mat-icon></button>
        </span>
      </span>
      <button mat-raised-button color="primary" (click)="addTimeRange('monday')">Add Time Range</button>
  </mat-list-item>

  <mat-list-item>
      <h3>Tuesday: </h3>
      <span formArrayName="tuesdayRanges">
        <span *ngFor="let range of tuesdayRanges.controls; let i=index" [formGroupName]="i">
            <span class="form-feild">
              <input [ngxTimepicker]="startTime" min="05:00 am" max="10:30 pm" [value]="'05:00 am'" formControlName="startTime" readonly>
              <ngx-material-timepicker #startTime></ngx-material-timepicker>
            </span>
            <span class="form-feild">
              <input [ngxTimepicker]="endTime" min="05:00 am" max="10:30 pm" [value]="'05:00 am'" formControlName="endTime" readonly>
              <ngx-material-timepicker #endTime></ngx-material-timepicker>
            </span>
            <button mat-icon-button color="warn" (click)="deleteTimeRange('tuesday', i)"><mat-icon>clear</mat-icon></button>
          </span>
        </span>
        <button mat-raised-button color="primary" (click)="addTimeRange('tuesday')">Add Time Range</button>
    </mat-list-item>

  <mat-list-item>
    <h3>Wednesday: </h3>
    <span formArrayName="wednesdayRanges">
      <span *ngFor="let range of wednesdayRanges.controls; let i=index" [formGroupName]="i">
          <span class="form-feild">
            <input [ngxTimepicker]="startTime" min="05:00 am" max="10:30 pm" [value]="'05:00 am'" formControlName="startTime" readonly>
            <ngx-material-timepicker #startTime></ngx-material-timepicker>
          </span>
          <span class="form-feild">
            <input [ngxTimepicker]="endTime" min="05:00 am" max="10:30 pm" [value]="'05:00 am'" formControlName="endTime" readonly>
            <ngx-material-timepicker #endTime></ngx-material-timepicker>
          </span>
          <button mat-icon-button color="warn" (click)="deleteTimeRange('wednesday', i)"><mat-icon>clear</mat-icon></button>
        </span>
      </span>
      <button mat-raised-button color="primary" (click)="addTimeRange('wednesday')">Add Time Range</button>
  </mat-list-item>

  <mat-list-item>
      <h3>Thursday: </h3>
      <span formArrayName="thursdayRanges">
        <span *ngFor="let range of thursdayRanges.controls; let i=index" [formGroupName]="i">
            <span class="form-feild">
              <input [ngxTimepicker]="startTime" min="05:00 am" max="10:30 pm" [value]="'05:00 am'" formControlName="startTime" readonly>
              <ngx-material-timepicker #startTime></ngx-material-timepicker>
            </span>
            <span class="form-feild">
              <input [ngxTimepicker]="endTime" min="05:00 am" max="10:30 pm" [value]="'05:00 am'" formControlName="endTime" readonly>
              <ngx-material-timepicker #endTime></ngx-material-timepicker>
            </span>
            <button mat-icon-button color="warn" (click)="deleteTimeRange('thursday', i)"><mat-icon>clear</mat-icon></button>
          </span>
        </span>
        <button mat-raised-button color="primary" (click)="addTimeRange('thursday')">Add Time Range</button>
    </mat-list-item>

  <mat-list-item>
      <h3>Friday: </h3>
      <span formArrayName="fridayRanges">
        <span *ngFor="let range of fridayRanges.controls; let i=index" [formGroupName]="i">
            <span class="form-feild">
              <input [ngxTimepicker]="startTime" min="05:00 am" max="10:30 pm" [value]="'05:00 am'" formControlName="startTime" readonly>
              <ngx-material-timepicker #startTime></ngx-material-timepicker>
            </span>
            <span class="form-feild">
              <input [ngxTimepicker]="endTime" min="05:00 am" max="10:30 pm" [value]="'05:00 am'" formControlName="endTime" readonly>
              <ngx-material-timepicker #endTime></ngx-material-timepicker>
            </span>
            <button mat-icon-button color="warn" (click)="deleteTimeRange('friday', i)"><mat-icon>clear</mat-icon></button>
          </span>
        </span>
        <button mat-raised-button color="primary" (click)="addTimeRange('friday')">Add Time Range</button>
    </mat-list-item>

  <mat-list-item>
      <h3>Saturday: </h3>
      <span formArrayName="saturdayRanges">
        <span *ngFor="let range of saturdayRanges.controls; let i=index" [formGroupName]="i">
            <span class="form-feild">
              <input [ngxTimepicker]="startTime" min="05:00 am" max="10:30 pm" [value]="'05:00 am'" formControlName="startTime" readonly>
              <ngx-material-timepicker #startTime></ngx-material-timepicker>
            </span>
            <span class="form-feild">
              <input [ngxTimepicker]="endTime" min="05:00 am" max="10:30 pm" [value]="'05:00 am'" formControlName="endTime" readonly>
              <ngx-material-timepicker #endTime></ngx-material-timepicker>
            </span>
          <button mat-icon-button color="warn" (click)="deleteTimeRange('saturday', i)"><mat-icon>clear</mat-icon></button>
        </span>
      </span>
      <button mat-raised-button color="primary" (click)="addTimeRange('saturday')">Add Time Range</button>
    </mat-list-item>

              
  </mat-list>
</form>