<mat-card>
  <mat-card-header>
    <mat-card-title>My Shifts</mat-card-title>
    <mat-card-subtitle>{{shifts[0].date | date:'shortDate'}} - {{shifts[shifts.length-1].date | date:'shortDate'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <table mat-table #table [dataSource]="shifts">
      <ng-container matColumnDef="dayOfWeek">
          <th mat-header-cell *matHeaderCellDef> Day </th>
          <td mat-cell *matCellDef="let shift" class="bold"> {{shift.date | date:'EEEE'}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let shift"> {{shift.date | date:'shortDate'}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="shift">
          <th mat-header-cell *matHeaderCellDef> Time </th>
          <td mat-cell *matCellDef="let shift"> {{shift.beginTime | date:'shortTime'}} -  {{shift.endTime | date:'shortTime'}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="hours">
          <th mat-header-cell *matHeaderCellDef> Hours </th>
          <td mat-cell *matCellDef="let shift"> {{
            (shift.endTime.valueOf() - shift.beginTime.valueOf())/ 3600000
          }} hours </td>
          <td mat-footer-cell *matFooterCellDef class="bold">Total: {{getTotalHours()}} hours</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
  
  </mat-card-content>
</mat-card>