@import '~@angular/material/theming';
// @import "../node_modules/angular-calendar/css/angular-calendar.css";

@include mat-core();

$cb-scheduling-app-primary: mat-palette($mat-green, 600, 400, 900);
$cb-scheduling-app-accent:  mat-palette($mat-yellow, 400, 300, 200);
$cb-scheduling-app-warn:  mat-palette($mat-red, 500);


$cb-scheduling-app-warn:    mat-palette($mat-red);

$cb-scheduling-app-theme: mat-light-theme($cb-scheduling-app-primary, $cb-scheduling-app-accent, $cb-scheduling-app-warn);

@include angular-material-theme($cb-scheduling-app-theme);


body {
    margin: 0px;
    height: 100%;
}