<div mwlDroppable (drop)="externalDrop($event.dropData.event)" dragOverClass="drag-over">
  <div class="card-body">
    <p *ngIf="externalEvents.length === 0"><em>No events added</em></p>
    <ul>
      <li *ngFor="let event of externalEvents" mwlDraggable [dropData]="{event: event}" dragActiveClass="drag-active">
        <a href="javascript:;" [style.color]="event.color.primary">
          {{ event.title }}
        </a>
      </li>
    </ul>
  </div>
  
<mwl-calendar-day-view 
  [viewDate]="viewDate"
  [events]="events"
  [refresh]="refresh"
  [snapDraggedEvents]="false"
  (eventTimesChanged)="eventDropped($event)"
  [dayStartHour]="5"
  [dayEndHour]="22">
</mwl-calendar-day-view>